*{
  padding : 0px;
  margin: 0px;
}
h1{
  color: blue;
}
body,html,.containers{
  min-height: 100% !important;
  height: 100%;
  background-color:#f8f9fa;
}
a{
  text-decoration: none;
}
/*style admin*/
/*.containers{
  background-color: red;
}*/
.sidebar{
  width: 17%;  
  background-color: #555;
  height: 100%;
  float: left;
  position: fixed;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sidebar h3{
  text-align: center;
}
.sidebar h5{
  text-align: center;
}
/* noi dung trong sidebar */
.sidebar a{
  color: white;
}
.sidebar a:hover{
  color: white;
  opacity: 0.5;
}
/* noi dung hien thi */
.content{
  width: 82%;
  height: 100%;
  /*background-color: white;*/
  float: right;
  /*background-color: #e4eaec;*/
}
.content .head{
  background-color: white;
  height: 7%;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}
.content .head h5{
  margin-right: 10px;
}
.content .body{
  /*height: 80%;*/
  background-color: white;
  /*background-color: #333;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.content .body .container-fluid{
/*height: 90%;*/
margin-top: 10px;
/*background-color: white;*/
width: 95%;
}