*{
    padding: 0px;
    margin: 0px;
}
i{
    margin-right: 5px;
}
a{
    color: white;
    /*pointer-events: none;*/
}
a:hover{
    color: white !important;
}
.review{
    margin: 0 auto;
    resize: none;
    /*width: 70% !important;*/
    height: 200px;
}
body{
    background-color: rgb(228, 226, 226) !important;
    /* height: 100%;
    min-height: 100%;
    position: relative; */
}
/* style header ne */
.header{
    background-color: #079992;
    color: white;
   
}
.header nav{
    height: 50px;
    line-height: 50px;
}
.header a{
    color: white;
}  
.header .button{
    background-color: #079992;
    border: none;
    outline: none;
    color: white;
}
/* style body ne */
/* categories */
.body{
    position: relative;
    min-height: 100vh;
}
.body .categories{
    border-right: 1px solid rgb(240, 237, 237) ;
}
.body .categories .list ul{
   list-style: none;
}
.body .categories h3{
    text-align: center;
    margin-top: 10px;
}
.body .categories a{
    text-decoration: none;
    color: black;
}
.body .categories a:hover{
    color: black !important;
}
.body .categories .list ul li{
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
.body{
    border-radius: 5px 5px;
    margin-top: 10px;
    background-color: #ffffff !important;
    
}
/* style item */
.body .item{
    margin-top: 10px;
}
.body .item{
    text-decoration: none;
}
.item .card{
    /* width: 200px !important;
    height: 200px !important; */
    margin-bottom: 10px !important;
}
.item .card .card-img-top{
    margin-top: 5px;
    width: 229px;
    height: 200px;
}
.item a:hover{
    color: black !important;
}
.item .price{
    color:blue;
}
/* style footer ne */
.footer{
    /*position: absolute;*/
    bottom: 0;
    /*height: 200px;*/
    /*width: 100%;     */
    /*margin-top: 10px;*/
    background-color: #079992 !important;
    /* position: absolute; */
    /* width: 100%; */
}
.footer ul{
    margin: 10px;
}
.footer ul li {
    list-style: none;
    color: white;
    height: 30px;
}
.footer label{
    color: white;
}
/* cart style */
.cart{
    margin-top: 10px;
    min-height: 100vh;
    background-color: white;
}
.cart img{
    width: 130px;
    height: 100px;
}
/* detail style */
.detail{
    margin-top: 10px;
    min-height: 100vh;
    background-color: white;
}
.detail img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 370px;
}
/*style binh luan*/
.detail .cmt{
    width: 90%;
    margin: 0 auto;
    /*border: 1px solid rgb(240, 237, 237);*/
    border-radius: 5px 5px;
}
.detail .cmt ul{
    list-style: none;
}
.detail .cmt ul li{
    padding: 5px 7px;
    margin-top: 10px;
    width: 90%;
    margin-left: 5px;
    border-radius: 5px 5px;
    background-color:rgb(240, 237, 237);
    /*border: 1px solid #555;*/
}
.detail .cmt ul li b{
    color: blue;
}
.detail .row{
    padding-top: 30px;
}
.detail .row .col-5{
    border-right: 1px solid rgb(240, 237, 237) ;
}
.detail .row .col table tr{
    padding-top: 30px;
    /*background-color: black;*/
}
.detail .row .col form table{
    width: 100%;
    /*margin-top: 100px;*/
}
.detail .row .col form table tr{
    width: 50%;
    height: 50px;
}
.detail .row .col form table tr input{
    width: 30%;
    height: 30px;
    text-align: center;
}
.detail .row .col form table tr button{
    width: 50%;
    /*height: 0px;*/
}
/* phan trang */
.pagi{
    margin: 0 auto;
}