*{
    padding: 0px;
    margin: 0px;
}
.in{
    background-color: white;
    padding: 10px 10px;
}
.Signin{
    /*background-color: white !important;*/
    margin: 0 auto;
    text-align: center;
}
.Signin tr{
    height: 50px;
    /* border: 1px solid black; */

}
.Signin tr td{
    /* border: 1px solid black; */
    width: 300px;
}
.Signin tr td button{
    width: 100%;
}
.Signup{
    margin: 0 auto;
    text-align: center;
}
.Signup tr{
    height: 50px;
    /* border: 1px solid black; */

}
.Signup tr td{
    /* border: 1px solid black; */
    width: 300px;
}
.Signup tr td button{
    width: 100%;
}